RESTIC_REPOSITORY=s3:s3.amazonaws.com/your-bucket-name
RESTIC_PASSWORD_FILE=/etc/restic/password
RESTIC_KEEP_DAILY=7
RESTIC_KEEP_WEEKLY=4
RESTIC_KEEP_MONTHLY=6
BACKUP_PATHS_0=/etc
BACKUP_PATHS_1=/opt
BACKUP_PATHS_2=/home
